# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# ecosystem file for PM2
/ecosystemiu.config.js
/ecosystemdev.config.js
/ecosystemdemo.config.js

# archivos de salida
/output